services:
{{- range .Services }}
  {{ $.Module.Name }}-{{ .Name }}:
    {{- $svc := . }}                                        # capture service
    {{- if .Image }}
    image: "{{ .Image }}"
    {{- else }}
    build:
      context: "{{ .Build.Context }}"
      dockerfile: "{{ .Build.Dockerfile }}"
    {{- end }}
    container_name: "{{ $.Module.Name }}-{{ .Name }}"

    {{- if $svc.DependsOn }}
    depends_on:
      {{- range $dep := $svc.DependsOn }}
      - "{{ $.Module.Name }}-{{ $dep }}"
      {{- end }}
    {{- end }}

    {{- if $svc.Env }}
    environment:
      {{- range $e := $svc.Env }}
      {{ $e.Key }}: "{{ $e.Value }}"
      {{- end }}
    {{- end }}

    {{- /* Ports vs Expose */}}
    {{- if $svc.Publish }}
    ports:
      {{- range $hostPort := $svc.Publish }}
      - "{{ $hostPort }}:{{ if gt (len $svc.Expose) 0 }}{{ index $svc.Expose 0 }}{{ else }}{{ $hostPort }}{{ end }}"
      {{- end }}
    {{- else if $svc.Expose }}
    expose:
      {{- range $contPort := $svc.Expose }}
      - "{{ $contPort }}"
      {{- end }}
    {{- end }}

    {{- /* Volumes */}}
    {{- if $svc.Volumes }}
    volumes:
      {{- range $vol := $svc.Volumes }}
      {{- if $vol.Name }}
      - "{{ $vol.Name }}:{{ $vol.ServicePath }}"
      {{- else if $vol.HostPath }}
      - "{{ $vol.HostPath }}:{{ $vol.ServicePath }}:ro"
      {{- end }}
      {{- end }}
    {{- end }}
    networks:
      - hello-net

{{- end }}

volumes:
{{- range .Volumes }}
  {{ . }}:
{{- end }}

networks:
  hello-net:
    driver: bridge
