services:
{{- range .Services }}
  {{ $.Module.Name }}-{{ .Name }}:
    {{- $svc := . }}
    {{- if $svc.Image }}
    image: "{{ $svc.Image }}"
    {{- else }}
    build:
      context: "{{ $svc.Build.Context }}"
      dockerfile: "{{ $svc.Build.Dockerfile }}"
    {{- end }}
    container_name: "{{ $.Module.Name }}-{{ $svc.Name }}"

    {{- if $svc.DependsOn }}
    depends_on:
      {{- range $dep := $svc.DependsOn }}
      - "{{ $.Module.Name }}-{{ $dep }}"
      {{- end }}
    {{- end }}

    {{- if $svc.Env }}
    environment:
      {{- range $e := $svc.Env }}
      {{ $e.Key }}: "{{ $e.Value }}"
      {{- end }}
    {{- end }}

    {{- if $svc.Publish }}
    ports:
      {{- range $hostPort := $svc.Publish }}
      - "{{ $hostPort }}:{{ if gt (len $svc.Expose) 0 }}{{ index $svc.Expose 0 }}{{ else }}{{ $hostPort }}{{ end }}"
      {{- end }}
    {{- else if $svc.Expose }}
    expose:
      {{- range $contPort := $svc.Expose }}
      - "{{ $contPort }}"
      {{- end }}
    {{- end }}

    {{- if $svc.Volumes }}
    volumes:
      {{- range $vol := $svc.Volumes }}
      {{- if $vol.Name }}
      - "{{ $vol.Name }}:{{ $vol.ServicePath }}"
      {{- else if $vol.HostPath }}
      - "{{ $vol.HostPath }}:{{ $vol.ServicePath }}:ro"
      {{- end }}
      {{- end }}
    {{- end }}

    networks:
      {{- range $n := $svc.Networks }}
      - "{{ $n }}"
      {{- end }}

{{- end }}

volumes:
{{- range .Volumes }}
  {{ . }}:
{{- end }}

networks:
{{- range .Networks }}
  {{ . }}:
    driver: bridge
{{- end }}
