.role-table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  cursor: default;
  background-color: #252525;
  color: #fff;
  text-align: center;
  word-wrap: break-word;
}

.role-table-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: calc(100vh - 155px);
  overflow-y: auto;
  padding-bottom: 20px;
}

.role-table th,
.role-table td {
  padding: 8px;
  vertical-align: middle;
}

/* last column takes remaining space */
.role-table th:nth-child(1),
.role-table td:nth-child(1) {
  width: 5%;
  text-align: center;
}

/* last column takes remaining space */
.role-table th:nth-child(2),
.role-table td:nth-child(2) {
  width: 8%;
}
/* last column takes remaining space */
.role-table th:nth-child(3),
.role-table td:nth-child(3) {
  width: 100%;
  text-align: left;
}

.role-array-header {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
}

.role-array-cell {
  padding: 0 8px;
  border-right: 1px solid #252525;
  cursor: pointer;
}

.role-array-cell.disabled-sort {
  cursor: default;
}

.role-array-cell.sortable:hover {
  outline: 2px solid #2563eb;
  outline-offset: -2px;
  border-radius: 4px;
}

.sort-icon {
  margin-left: 5px;
  font-size: 0.75rem;
  color: #e0e0e0;
}

.icon-small {
  width: 25px;
  vertical-align: middle;
  margin-right: 4px;
}

.icon-small.empty {
  opacity: 0.3;
}

.role-apps-cell {
  width: 48px;
  height: 48px;
  display: flex;
  gap: 4px;
  align-items: center;
}

/* For text fallback */
.role-apps-cell span {
  min-height: 48px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.sort-icon.up::after {
  content: '▲';
}

.sort-icon.down::after {
  content: '▼';
}

.role-badge {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 6px;
  margin-right: 6px;
  font-weight: 500;
  font-size: 0.9rem;
  color: #fff;
}

.role-row {
  border-bottom: 1px solid #444;
}

.role-row:hover {
  background-color: rgba(255,255,255,0.03);
}

.role-array-header-content.sortable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sort-arrows {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  line-height: 0.8;
}

.loader {
  border: 3px solid #444;
  border-top: 3px solid #999;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* .members-cell {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 4px;
  min-height: 32px;
} */
.members-cell {
  display: grid;
  grid-template-columns: 32px 1fr; /* icône fixe + espace restant */
  align-items: center;
  height: 100%;
}

.members-cell .icon-small {
  width: 24px;
  height: 24px;
  margin: auto; /* pour centrer l’icône dans sa colonne */
}

.members-count {
  text-align: center;
}