.role-table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  cursor: default;
  background-color: #252525;
  color: #fff;
  text-align: center;
}

.role-table-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: calc(100vh - 155px);
  overflow-y: auto;
  padding-bottom: 20px;
}

.role-table th,
.role-table td {
  padding: 8px;
  vertical-align: middle;
  word-wrap: break-word;
}

.role-table th:not(.role-small-column),
.role-table td:not(.role-small-column) {
  text-align: center;
}

/* last column takes remaining space */
.role-table th:nth-child(1),
.role-table td:nth-child(1) {
  width: 5%;
}

/* last column takes remaining space */
.role-table th:nth-child(2),
.role-table td:nth-child(2) {
  width: 8%;
}
/* last column takes remaining space */
.role-table th:nth-child(3),
.role-table td:nth-child(3) {
  width: 100%;
}

.role-small-column {
  width: 60px;
  text-align: center;
}

.role-header {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
}

.role-cell {
  padding: 0 8px;
  border-right: 1px solid #252525;
  cursor: pointer;
}

.role-cell.disabled-sort {
  cursor: default;
}

.role-cell.sortable:hover {
  outline: 2px solid #2563eb;
  outline-offset: -2px;
  border-radius: 4px;
}

.sort-icon {
  margin-left: 5px;
  font-size: 0.75rem;
  color: #e0e0e0;
}

.icon-small {
  width: 25px;
  vertical-align: middle;
  margin-right: 4px;
}

.icon-small.empty {
  opacity: 0.3;
}

.role-apps-cell {
  width: 48px;
  height: 48px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.sort-icon.up::after {
  content: '▲';
}

.sort-icon.down::after {
  content: '▼';
}

.role-badge {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 6px;
  margin-right: 6px;
  font-weight: 500;
  font-size: 0.9rem;
  color: #fff;
}

.role-row {
  border-bottom: 1px solid #444;
}

.role-row:hover {
  background-color: rgba(255,255,255,0.03);
}

.role-header-content.sortable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sort-arrows {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  line-height: 0.8;
}

.role-header-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
}

.role-search {
  padding: 12px;
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #2a2a2a;
  color: white;
  margin-bottom: 20px;
}

.role-search-container {
  position: relative;
  display: inline-block;
}

.search-icon-inside {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-100%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.role-search.with-icon {
  padding-left: 40px; /* space for the icon */
}
