.app-container {
  background: var(--background);
  display: flex;
  height: 100vh;
  color: white;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh; 
  border-left: 2px solid var(--border);
  background: var(--background);
  background-color: var(--background);
  overflow: hidden;
  overflow-y: auto; 
}

.content {
  flex: 1;
  padding: 24px;
  background-color: var(--background);
}

html, body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #bdbdbd #2e2e2e;
}
