.module-settings-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.module-settings-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.module-settings-toggle {
  display: flex;
  align-items: center;
  gap: 12px;
}

.switch-label {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 35px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: var(--slider-disabled);
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--slider-enabled);
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.module-settings-roles {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.role-badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.switch.waiting .slider {
  cursor: not-allowed;
  opacity: 0.5;
}
