.user-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  cursor: default;
  background-color: var(--background);
  color: var(--text-primary);
  text-align: center;
}

.user-table-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: calc(100vh - 155px);
  overflow-y: auto;
  padding-bottom: 20px;
}

.user-table th,
.user-table td {
  padding: 8px;
  vertical-align: middle;
}

.user-table th:nth-child(1),
.user-table td:nth-child(1) {
  width: 3.4%;
  text-align: center;
}

.user-table th:nth-child(2),
.user-table td:nth-child(2) {
  width: 5%;
}

.user-table th:nth-child(3),
.user-table td:nth-child(3) {
  width: 5%;
  text-align: left;
}

.user-table th:nth-child(5),
.user-table td:nth-child(5) {
  width: 10%;
  text-align: left;
}

.user-table th:not(.user-small-column),
.user-table td:not(.user-small-column) {
  text-align: left;
}

.user-small-column {
  width: 60px;
  text-align: center;
}

.user-picture {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.user-role {
  display: inline-block;
  padding: 4px 8px;
  margin: 2px;
  border-radius: 6px;
  font-size: 0.75rem;
  font-weight: 500;
  background-color: var(--text-primary);
}

.user-row:hover {
  background-color: rgba(255,255,255,0.03);
}

.user-row {
  border-bottom: 1px solid var(--light-border);
}

.array-header-content.sortable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.staff-login {
  position: relative;
  font-weight: bold;
  color: var(--red);
}

.staff-login::after {
  content: "PB Staff";
  position: absolute;
  bottom: 130%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background);
  color: var(--tooltip-text);
  border: 1px solid var(--tooltip-border);
  padding: 4px 6px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 0.75rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  z-index: 10;
}

.staff-login:hover::after {
  opacity: 1;
}

.load-more-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
